/* //////////// Tela bem vindo //////////// */

.welcome {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(/img/background-1.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

#header-wel {
    padding-top: 5px;
    display: flex;
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
.principal {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column-reverse; */
}

.div-img-wel1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-entre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title1 {
    font-size: 55px;
    color: #ffffff;
    transform: skew(348deg);
    text-shadow: #f44926 3px 3px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    line-height: 75px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-left: 53px;
}

.title2 {
    font-size: 40px;
    color: #ffffff;
    transform: skew(348deg);
    text-shadow: #f44926 3px 3px;
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 2px;
    margin-top: 65px;
    margin-bottom: 30px;
    margin-left: 53px;
}

.btn-2 {
    background: #f44926;
    background: #f44926;
    border-radius: 25px;
    border-color: rgba(255, 255, 255, 0.459);
    padding: 10px 60px;
    text-transform: uppercase;
    color: white;
}

.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5), -4px -4px 6px 0 rgba(116, 125, 136, .5), inset -4px -4px 6px 0 rgba(255, 255, 255, .2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}


/* //////////// Cards //////////// */

.secundaria {
    padding-top: 30px;
    text-align: center;
    padding: 30px;
    font-family: Arial;
    justify-content: center;
}

.card-item {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn-primary {
    background-color: #f44926 !important;
    border-color: #ffffff !important;
}

.card-title {
    color: #f44926;
}

@media (max-width: 1010px) {
    .principal {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }
    .div-img-wel1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .div-entre {
        gap: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
}